.div{
    height: 18vh;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: rgb(16, 16, 16, 0.9);
}

.div h1{
    color: white;
    padding-left: 65rem;
    cursor: pointer;
}

.div img{
    width: 15rem;
}